* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "roguehero";
    src: url(../fonts/roguehero.ttf);
  }
  /* HEADER */
  /* Chemin d'accès vers mon image de fond */
  
  header {
    height: 100vh;
  }